{% extends "base_generic.html" %}

{% block content %}

<p><h1>Author List</h1></p>

    <form action="" method="get">
      <input name="query" type="text" placeholder="Search...">
    </form>

    <br>

{% if object_list %}
  <ul>

  {% for author in object_list %}
    <li>
      <a href="{{ author.get_absolute_url }}" style="text-decoration: none;">
      {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </a>
    </li>
  {% endfor %}

 </ul>
{% else %}
  <p>There are no authors available.</p>
{% endif %}
                
{% endblock %}